@model SAS.Models.Order_info

@{
    ViewBag.Title = "order";
    ViewBag.my_oder = "set";
}

<div id="flag_box">
	<span href="" class="btn_c set">未确认订单</span>
	<span href="" class="btn_c">待审核订单</span>
	<span href="" class="btn_c">订单查询</span>
</div>
<div class="box_a">
	<table cellspacing="0">
		<tbody>
			<tr>
				<th>&nbsp;</th>
				<th>订单号</th>
				<th>公寓名称</th>
				<th>房型</th>
				<th>入住人</th>
				<th>电话号码</th>
				<th>入住日期</th>
				<th>离店日期</th>
				<th>总价</th>
				<th>状态</th>
				<th>操作</th>
			</tr>

			<!-- 订单数据 -->
			<tr>
				<td><span class="danbao_ico">担保</span></td>
				<td>123456789123</td>
				<td>公寓名称公寓名称公寓名称公寓名称</td>
				<td>房型名称</td>
				<td>入住人name</td>
				<td>13584562554</td>
				<td>000-00-00</td>
				<td>000-00-00</td>
				<td>￥0000.00</td>
				<td>未确认</td>
				<td><a href="" class="operation_order">操作</a></td>
			</tr>
		</tbody>
	</table>
</div>

<div class="set_box">
<form class="my_form">
	<p class="input_line"><label class="confirmation_order"><input type="radio" name="confirmation_order" value="1" checked><span>确认订单</span></label></p>
	<p class="input_line"><label class="confirmation_order"><input type="radio" name="confirmation_order" value="2"><span>拒绝订单</span></label></p>
	<div class="rejection_box hide">
		<p class="input_line m_l0">
			<label><input class="rejection_radio" type="radio" name="rejection">满房</label>
			<label><input class="rejection_radio" type="radio" name="rejection">变价</label>
			<label><input class="rejection_radio" type="radio" name="rejection">其它</label>
		</p>
		<textarea class="rejection_text hide" name="rejection_text" placeholder="请说明原因"></textarea>

	</div>
	<p class="t_ac m_t20">
		<a href="" class="btn_b modify_order_status_btn">确认</a>
		<a href="" class="close_win btn_b">取消</a>
	</p>
</form>
</div>