

@{
    ViewBag.Title = "结算账户";
    ViewBag.my_bank = "set";


}

<div id="content" class="box_a">
    <div class="from_path">
        <h2>收款账户<span>如需修改收款账户请致电客服</span></h2>
        <p class="input_line"><span class="label">开户银行</span>XXXXX</p>
        <p class="input_line"><span class="label">卡号</span>*****************000</p>
        <p class="input_line"><span class="label">真实姓名</span>石小猴</p>
    </div>
    <div class="from_path">
        <h2>联系人</h2>
        <p class="input_line"><span class="label">联系人</span>XXXXX</p>
        <p class="input_line"><span class="label">电话</span>*****************000</p>
        <p class="input_line"><span class="label">邮箱</span>sdasd@xxx.xxx</p>
    </div>
</div>