/*基本*/
* {
  margin: 0;
  padding: 0;
  border: 0;
}
body {
  font: normal 13px/1.5 "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  color: #595757;
  background-color: #f0efed;
}
input,button,select,textarea{
    outline:none
}
a {
  text-decoration: none;
  color: #003C90;
}
a:hover {
  color: #205ca0;
}
ul {
  list-style: none;
}
ul li {
  display: list-item;
}
pre {
  font: normal 13px/1.5 "Microsoft Yahei", "微软雅黑", Tahoma, Arial, STHeiti, sans-serif;
  white-space: pre-wrap;
}
h1 {
  color: #878787;
}
input[type="text"],input[type="password"],select {
  border:1px solid #595757;
  height: 20px;
}
input[type="radio"] {
  vertical-align: middle;
}
select {
  height: 22px;
}
textarea {
  border: 1px solid #595757;
}
select:focus,
textarea:focus,
input[type="text"]:focus,
input[type="password"]:focus {
  -webkit-box-shadow: 1px 1px 8px #003C91;
  box-shadow: 1px 1px 8px #003C91;
  border-color: #003C91;
}
table {
  width: 100%;
  border: 1px solid #595757;

}
tr {
  background-color: #E6E6E6;
}
tr:nth-child(odd){
  background:#fff;
}
tr:hover {
  background: #A9CDFF;
}
th {
  background: #003C91;
  color: #FFF;
  font-size: 16px;
  line-height: 30px;
}
td {
  font-size: 14px;
  color: #595757;
  text-align: center;
  line-height: 30px;
}

/*辅助*/
.hide {
  display: none;
}
.no_bor {
  border: none;
}
.tab_bor_r {
  border-left: 1px solid #CCC;
}
.tab_bor_t {
  border-top: 1px solid #CCC;
}

.w50 {
  width: 50px;
}
.w100 {
  width: 100px;
}
.m_t10 {
  margin-top: 10px;
}
.m_t15 {
  margin-top: 15px;
}
.m_t30 {
  margin-top: 30px;
}
.m_t20 {
  margin-top: 20px;
}
.m_r20 {
  margin-right: 20px;
}
.m_b50 {
  margin-bottom: 50px;
}
.m_l20 {
  margin-left: 20px;
}
.w_sn {
  white-space: nowrap;
}
.t_ac {
  text-align: center;
}
/*常用组件*/

/*布局*/
#content {
  margin-top: 32px;
}
.mainlayout {
    width: 1180px;
    margin-left: auto;
    margin-right: auto;
}
.from_path {
  margin-bottom: 50px;
}
.checkbox_box {
  width: 830px;
}
.float_r {
  float: right;
}
.float_l {
  float: left;
}
.clear {
  *zoom: 1; 
}
.clear:before,
.clear:after {
  display: table;
  content: "";
}
.clear:after {
  clear: both;
}

/*盒子*/
.box_a {
  padding: 20px;
  margin-bottom: 20px;
  background: #FFF;
  border: 1px solid #868686;
  border-top: 2px solid #003C8F;
}
.box_a h2 {
  color: #003C8F;
  font-size: 18px;
  padding-bottom:  20px;
  border-bottom: #595757 solid 1px;
  margin-bottom: 20px;
}
.box_a h2 span{
  font-size: 14px;
  font-weight: normal;
  margin-left: 20px;
  color: #595757;
}
.box_a h2 a.float_r {
  font-size: 12px;
}

.box_b {
  border: #595757 solid 1px;
  border-radius: 0 5px 5px 5px;
  padding: 20px;
}
.box_b h2 {
  font-size: 16px;
  color: #003C90;
  padding-bottom:  20px;
  border-bottom: #003C8F solid 1px;
}

/*按钮*/
.set {
  cursor: default;
}
.btn_a {
    background-color:#003C90;
    color:#FFF;
    font-size: 18px;
    transition-duration: 0.4s;
    padding: 5px 10px 5px 10px;
}
.btn_a:hover {
    background-color: #225Ea2;
    color: #FFF;
}

.btn_b {
  background: #003C8F; /* 不支持背景渐变的浏览器 */  
  background: linear-gradient(to bottom, #005DDE, #003C8F);
  border-radius: 5px;
  color: #FFF;
  display: inline-block;
  font-size: 16px;
  padding: 2px 20px 3px 20px;
  transition-duration: 0.4s;
}
.btn_b:hover {
  background: #225EB1;
  background: linear-gradient(to bottom, #227FFF, #225EB1);
  color: #FFF;
}

.btn_Disabled.btn_a,
.btn_Disabled.btn_a:hover,
.btn_Disabled.btn_b,
.btn_Disabled.btn_b:hover{
  cursor: not-allowed;
  background: #CCC;
  color: #FFF;
}

.btn_c {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #FFF;  
  border:1px solid #595757;
  border-radius: 5px 5px 0 0;
  color: #595757;
  font-size: 16px;
  margin-right: 20px;
  padding: 2px 20px 3px 20px;
  text-align: center;
  width: 140px;
  position: relative;
  top: 1px;
}
.btn_c.set {
  background: #003C8F;
  background: linear-gradient(to bottom, #005DDE, #003C8F);
  border-color: #003C8F;
  color: #FFF;
  border-bottom:1px solid #003C8F;
}
.btn_d {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  background: #FFF;  
  border:1px solid #595757;
  border-radius: 5px 5px 0 0;
  color: #595757;
  font-size: 12px;
  margin-right: 20px;
  padding: 2px 20px 3px 20px;
  transition-duration: 0.4s;
  text-align: center;
  width: 100px;
  position: relative;
  top: 1px;
}
.btn_d:hover {
  border-bottom: none;
}
.btn_d.set {
  border-bottom:1px solid #FFF;
}

/*多选组件*/
.checkbox_box .w_sn {
  display: inline-block;
  *display: inline;
  *zoom: 1;
  line-height: 30px;
  width: 174px;
  margin-right: 10px;
}
.checkbox_box .w_sn span{
  vertical-align: bottom;
  margin-right: 20px;
  text-overflow: ellipsis;
  overflow: hidden;
  border-bottom: 1px solid #FFF; 
}
.checkbox_box .w_sn span:hover,
input[type="checkbox"]:checked + span {
  font-weight: bold;
  color: #205ca0;
}

/*文字 颜色*/
.label {
  width: 7em;
  text-align: right;
  display: inline-block;
  *display: inline;
  *zoom: 1;
  margin-right: 10px;
  font-weight: bold;
}
.fw_b {
  font-weight: bold;
}
.col_red {
  color: red;
}
.col_gray {
  color: gray;
}
.col_orange {
  color: #F09401;
}
