/*header*/
#header {
	color: #003897;
	background: #FFF;
	min-width: 1180px;
	padding: 15px 0;
}
#logo_tittle {
	color: #003897;
	font-size: 20px;
	padding: 50px 0 0 30px;
}
#header .float_r {
  line-height: 27px;
  text-align: right;
}
.phone_text {
	padding-top: 16px;
}
.phone_text span {
	color: #8e7b47;
	font-size: 22px;
	text-shadow: 0 1px 2px #ccc;
}
.warp{
	background: #003897;
	color: #FFF;
	height: 2px;
	line-height: 50px;
	min-width: 1180px;
	width: 100%;
}