/*@itiwll 20140610*/

/*导航*/
#nav_box {
	margin-top: 32px;
}
#main_nav {
	background: #E8E8EC;
	border: #595757 solid 1px;
	margin-right: 6px;
}
.main_nav_item {
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	width: 145px;
	text-align: center;
	border-bottom: #595757 solid 1px;
	padding-bottom: 5px;
}
.nav_item {
	color: #595757;
	display: block;
	font-weight: normal;
}
.nav_item.set {
	background: #FFF;
	border-left: 6px solid #003C91;
}

#flag_box {
	margin-left: 10px;
}

/*正文表单*/
#main_box {
	width: 1023px;
}
.input_line {
	line-height: 50px;
}
.input_line .col_red {
	margin-left: 10px;
}

/*---添加公寓---*/
#hotel_class,
#hotel_theme {
	width: 80px;
}
#phone_area_code {
	margin-right: 0;
	width: 40px;
}
#hotel_phone {
	width: 80px;
}
#hotel_province,
#hotel_city,
#hotel_area,
#hotel_district {
	width: 120px;
}
#hotel_address {
	width: 500px;
}
#location_box {
	margin-top: 10px;
}
#maps_input_box {
	height: 348px;
	width: 741px;
}
#hotel_building,
#hotel_room_count {
	width: 40px;
}
#hotel_specialty {
	width: 500px;
}
#hotel_abstract {
	margin-top: 10px;
}
/*银行卡*/
.card {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url(../img/bank.png) no-repeat;
	height: 38px;
	vertical-align: top;
	margin-right: 20px;
}
.visa {
  background-position: -170px 0;
  width: 59px;
}
.master {
  background-position: 0 0;
  width: 59px;
}
.amex {
  background-position: -268px 0;
  width: 59px;
}
.jcb {
  background-position: -62px 0;
  width: 53px;
}
.unionpay {
  background-position: -112px 0;
  width: 59px;
}
.dinersclub {
  background-position: -227px 0;
  width: 43px;
}
.hotel_facility,
.hotel_service {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: bottom;
	margin-right: 20px;
}

/*---添加房型---*/
#room_count,
#room_area,
#room_floor {
	width: 50px;
}