/*@itiwll 20140610*/

/*导航*/
#nav_box {
	margin-top: 32px;
}
#main_nav {
	background: #E8E8EC;
	border: #595757 solid 1px;
	margin-right: 6px;
}
.main_nav_item {
	font-size: 16px;
	font-weight: bold;
	line-height: 40px;
	width: 145px;
	text-align: center;
	border-bottom: #595757 solid 1px;
	padding-bottom: 5px;
}
.nav_item {
	color: #595757;
	display: block;
	font-weight: normal;
}
.nav_item.set {
	background: #FFF;
	border-left: 6px solid #003C91;
}

#flag_box {
	margin-left: 10px;
}

/*正文表单*/
/*布局*/
#main_box {
	width: 1023px;
}
.input_line {
	line-height: 50px;
}
.input_line .col_red {
	margin-left: 10px;
}
.btn_box {
	text-align: center;
	margin-top: 50px;
	padding-bottom: 50px;
}

/*提示样式*/
.red_tip_box {
	border: 1px solid red;
	color: red;
	background: #FFF;
}

/*特殊按钮样式*/
.all_set {
	margin-right: 20px;
}

/*---添加公寓---*/
#hotel_class,
#hotel_theme {
	width: 80px;
}
#phone_area_code {
	margin-right: 0;
	width: 40px;
}
#hotel_phone {
	width: 80px;
}
#hotel_province,
#hotel_city,
#hotel_area,
#hotel_district {
	width: 120px;
}
#hotel_address {
	width: 500px;
}
#location_box {
	margin-top: 10px;
}
#maps_input_box {
	height: 348px;
	width: 741px;
}
#map_lon,
#map_lat {
	width: 200px;
	margin-right: 20px;
}

#hotel_building,
#hotel_room_count {
	width: 40px;
}
#hotel_specialty {
	width: 500px;
}
#hotel_abstract {
	margin-top: 10px;
}
/*银行卡*/
.card {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	background: url(../img/bank.png) no-repeat;
	height: 38px;
	vertical-align: top;
	margin-right: 20px;
}
.visa {
  background-position: -170px 0;
  width: 59px;
}
.master {
  background-position: 0 0;
  width: 59px;
}
.amex {
  background-position: -268px 0;
  width: 59px;
}
.jcb {
  background-position: -62px 0;
  width: 53px;
}
.unionpay {
  background-position: -112px 0;
  width: 59px;
}
.dinersclub {
  background-position: -227px 0;
  width: 43px;
}
.hotel_facility,
.hotel_service,
.room_facility {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	vertical-align: bottom;
	margin-right: 20px;
	width: 150px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
}

/*---添加房型---*/
#room_count,
#room_area,
#room_floor,
#bedroom,
#saloon,
#toilet,
#bookroom {
	width: 50px;
}
#saloon,
#toilet,
#bookroom {
	margin-left: 10px;
}

#bed_box {
}
.bed_item {
	margin-bottom: 5px;
	margin-right: 20px;
}
.bed_add {
}

#btn_add_room {
	display: inline-block;
	*display: inline;
	*zoom: 1;
	margin-top: 30px;
	margin-left: 110px;
}

/*---录入价格---*/
.input_room_rp_name {
	font-weight: bold;
	color: #003C8F;
	display: inline-block;
	*display: inline;
	*zoom: 1;
	-ms-text-overflow: ellipsis;
	text-overflow:ellipsis;
	white-space:nowrap;
	width:10em;
	overflow: hidden;
	vertical-align: bottom;
}

#price_input .label {
	width: 10em;
}
#btn_add_danbao {
	margin-left: 9em;
}

/*录入图片*/
.upload_img_btn {
	background: #D9DADA;
	vertical-align: middle;
	text-align: center;
	display: block;
	line-height: 30px;
	height: 30px;
	width: 150px;
	cursor: pointer;
	position: relative;
	top: -20px;
}
.upload_img_input {
	width: 10px;
	height: 5px;
}
.upload_help {
	width: 150px;
}
.img_show_box {
	margin-left: 30px;
	/*border: 1px solid #CCC;*/
	width: 780px;
}
.upload_img_box {
	float: left;
	margin-right: 10px;
	margin-bottom: 10px;
	padding: 5px;
	border: 1px solid #BBB;
}
.img_set {
	line-height: 25px;
	width: 237px;
	-ms-text-overflow: ellipsis;
	text-overflow: ellipsis;
	overflow: hidden;
	white-space: nowrap;
}
.upload_img_info {
	width: 140px;
}
.upload_img_type {
	margin-left: 10px;
	width: 80px;
}
.upload_img_box .img_box {
	width: 237px;
	height: 150px;
	text-align: center;
	vertical-align: middle;
	margin-bottom: 10px;
}


.end_box {
	min-height: 400px;
}
.end_box p{
	margin-top: 100px;
}

/*我的公寓  促销规则*/
#myHotelTable,
#DrrRule {
	margin-top: 32px;
}
#DrrRule input.date_start,
#DrrRule input.date_end {
	width: 100px;
	padding: 0 5px;
}
#DrrRule input.date_start {
	margin-right: 10px;
}
#DrrRule input.date_end {
	margin-left: 10px;
}
#btn_add_drr {
	margin-left: 110px;
	margin-top: 20px;
}

/*房价房态*/
#my_price,
#room_status {
	margin-top: 32px;
}
#date_load {
	width: 100px;
}

.set_box {
	border: 5px solid #CCC;
}