@model SAS.Models.hotel_info

@{
    ViewBag.Title = "MyPrix";
    ViewBag.my_prix = "set";
}
@* 酒店列表*@
@foreach (var h in Model.HotelList)
{
    
}
@* 房型列表表*@
@foreach (var r in Model.Room.RoomList)
{
    
}
@* 价格列表*@
@foreach (var r in Model.Room.Prices.PriceList)
{
    
}
<h2>MyPrix</h2>
