@{
    ViewBag.Title = "主页";
    ViewBag.Description = "主页";
    ViewBag.Keywords = "主页";
    
}

<div class="mainlayout">
	<style>
		a {
			margin: 10px;
		}
	</style>
	<p>默认文字大小行高</p>
	<p>默认文字大小行高</p>
	<br>
	<p>
		<a href="#" class="btn_a">方形按钮</a>
		&nbsp;
		<a href="" class="btn_a btn_Disabled">禁用</a>
	</p>
	<br>
	<p>
		<a href="#" class="btn_b">圆角按钮</a>
		<a href="#" class="btn_b btn_Disabled">禁用</a>
	</p>
	<br>
	<p>
		<a href="" class="btn_c">第三类按钮</a>
		&nbsp;
		<a href="" class="btn_c set">选中</a>
	</p>
</div>