@{
    ViewBag.Title = "主页";
    ViewBag.Description = "主页";
    ViewBag.Keywords = "主页";
    
}

<div class="mainlayout">
	<style>
/*		a,input,select {
			margin: 10px;
		}*/
	</style>

	<h1>欢迎使用一呆公寓管理系统</h1>

	<p>默认文字大小行高</p>
	<p>默认文字大小行高</p>
	<br>
	<br>
	<br>
	<p>
		<a href="#" class="btn_a">方形按钮</a>
		&nbsp;
		<a href="" class="btn_a btn_Disabled">禁用</a>
	</p>
	<br>
	<p>
		<a href="#" class="btn_b">圆角按钮</a>
		<a href="#" class="btn_b btn_Disabled">禁用</a>
	</p>
	<br>
	<p>
		<a href="" class="btn_c">第三类按钮</a>
		&nbsp;
		<a href="" class="btn_c set">选中</a>
	</p>
	<p>
		<a href="" class="btn_d">第四类按钮</a>
		&nbsp;
		<a href="" class="btn_d set">选中</a>
	</p>
	<br>
	<br>
	<br>
	<p>
		<label >输入<input type="text"></label>
		<label >输入<input type="password"></label>
	</p>
	<p>
		<label class="checkbox"><input name="dx" type="checkbox">多选</label>
		<label class="checkbox"><input name="dx" type="checkbox">多选</label>
		<label class="checkbox"><input name="dx" type="checkbox">多选</label>
		<label class="checkbox"><input name="dx" type="checkbox">多选</label>
	</p>
	<p>
		<label >
			下拉选框
			<select name="select" id="">
				<option value="值一">值一</option>
				<option value="值一">值一</option>
				<option value="值一">值一</option>
				<option value="值一">值一</option>
			</select>
		</label>
	</p>
	<br>
	<br>
	<br>
	<div class="box_a">
		<h2>
			box_a
			<a href="#" class="float_r">查睦详情</a>
		</h2>
	</div>
	<br>
	<br>
	<br>
		<a href="" class="btn_d set">1</a><a href="" class="btn_c">2</a>
		<div class="box_b">
		<h2>
			box_b
		</h2>
	</div>
	<br>
	<br>
	<br>
	<table cellspacing="0">
		<tbody>
			<tr>
				<th>th</th>
				<th>th</th>
			</tr>
			<tr>
				<td>td</td>
				<td>td</td>
			</tr>
			<tr>
				<td>td</td>
				<td>td</td>
			</tr>
		</tbody>
	</table>
</div>