@model IEnumerable<SAS.Models.hotel_room_picture_info>

@{
    ViewBag.Title = "Image";
    //房型
    List<SAS.Models.hotel_room_info> roomList = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    //图片类型
    Dictionary<string, int> ImageTypes = ViewData["ImageTypes"] as Dictionary<string, int>;
}

<h2>Image</h2>
@foreach (var r in roomList)
{
    IEnumerable<SAS.Models.hotel_room_picture_info> Images = Model.Where(o => o.room_id == r.room_id);
    //RoomId 的所用图片
    foreach(var p in Images)
    {
       
    }
}
@*@foreach (var item in Model) {
   
            @Html.DisplayFor(modelItem => item.h_p_id)
    
        }*@

