@model IEnumerable<SAS.Models.hotel_picture_info>

@{
    ViewBag.Title = "Image";
    List<SAS.Models.hotel_room_info> roomList = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    
}

<h2>Image</h2>
@foreach (var item in Model) {
   
            @Html.DisplayFor(modelItem => item.h_p_id)
        
        }