@model SAS.Models.hotel_picture_info

@{
    ViewBag.Title = "录入图片";
}


<div id="flag_box">
	<a href="" class="btn_c">1 录入公寓信息</a>
	<a href="" class="btn_c">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c set">4 录入图片</a>
</div>
<!-- 录入房型 -->
<div class="box_a">
	<div class="from_path">
		<h2>公寓设施 <span>为了更好的展示公寓，图片至少上传5张，包括外景、大堂、吧台、走廊、设置。</span></h2>
		<div class="clear">
			<div class="upload_img_box">
				<input type="file" class="hide upload_img_input" >
				<a href="" class="upload_img_btn">选择图片</a>
				<br>
				<input type="text" class="upload_img_info">

			</div>
		</div>
	</div>
	<div class="from_path">
		<h2>公寓设施 <span>为了更好的展示公寓，图片至少上传5张，包括外景、大堂、吧台、走廊、设置。</span></h2>
		<div class="clear">
			<div class="upload_img_box">
				<input type="file" class="hide upload_img_input" >
				<a href="" class="upload_img_btn">选择图片</a>
				<br>
				<input type="text" class="upload_img_info">

			</div>
		</div>
	</div>  
 
	<div class="btn_box">
		<a href="" id="save_room_info" class="btn_a btn_save_step">完成</a>
	</div>
    
</div>

