@model SAS.Models.hotel_picture_info

@{
    ViewBag.Title = "录入图片";
}


<div id="flag_box">
	<a href="" class="btn_c">1 录入公寓信息</a>
	<a href="" class="btn_c">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c set">4 录入图片</a>
</div>
<!-- 录入房型 -->
<div class="box_a">
	<div class="from_path">
		
	</div>
  
 
	<div class="btn_box">
		<a href="" id="save_room_info" class="btn_a btn_save_step">保存</a>
	</div>
    
</div>
