<div id="flag_box">
	<a href="" class="btn_c">1 录入公寓信息</a>
	<a href="" class="btn_c">2 录入房型</a>
	<a href="" class="btn_c">3 录入房价</a>
	<a href="" class="btn_c">4 录入图片</a>
</div>
<div class="box_a end_box">
    <p style="text-align:center;font-size:24px;">新建公寓失败</p>

</div>