@{
    ViewBag.Title = "_header";
    ViewBag.username=Session["userName"];
}

<div id="header">
	<div class="mainlayout clear">
		<div class="float_l">
			<a href="/" id="logo_link">
                <img src="@Url.Content("~/Content/Public/img/logo.png")" alt="一呆网logo"></a>
		</div>
		<div class="float_l">
			<p id="logo_tittle">一呆公寓管理系统</p>
		</div>
		<div class="float_r">
			<p>&nbsp;
	            @if(Session["userName"]!=null){
				<span>@ViewBag.username</span><span>|</span>
				<a href="/Login/Logout/">退出</a>
	            }
			</p>
			<p class="phone_text">
				服务热线&nbsp;:&nbsp;&nbsp;
				<span>400-001-6677</span>
			</p>
		</div>
	</div>
</div>
<div class="warp">
</div>
