@{
    ViewBag.Title = "_header";
}

<div id="header">
	<div class="mainlayout clear">
		<div class="float_l">
			<a href="/" id="logo_link">
                <img src="@Url.Content("~/Content/Public/img/logo.png")" alt="一呆网logo"></a>
		</div>
		<div class="float_l">
			<p id="logo_tittle">中国领先的度假公寓在线租赁平台</p>
		</div>
		<div class="float_r">
			<p>
				<a href="http://chat16.live800.com/live800/chatClient/chatbox.jsp?companyID=109468&amp;jid=8709954241" class="help_link" target="_blank">在线客服</a>
				&nbsp;
				<a href="/help.shtml" class="help_link" target="_blank">帮助中心</a>
			</p>
			<p class="phone_text">
				服务热线&nbsp;:&nbsp;&nbsp;
				<span>400-001-6677</span>
			</p>
		</div>
	</div>
</div>
<div class="warp">
	<div class="mainlayout clear">
		<h1 class="float_l">一呆公寓管理系统</h1>
		<div class="float_r">
			<span>用房名</span>|
			<a href="">退出</a>
		</div>
	</div>
</div>
