<div id="main_nav">
	<div class="main_nav_item">
		<a href="">首&nbsp;&nbsp;&nbsp;&nbsp;页</a>
	</div>
	<div class="main_nav_item">
		<a href="">公寓管理</a>
		<a class="nav_item set" href="">新建公寓</a>
		<a class="nav_item" href="">我的公寓</a>
		<a class="nav_item" href="">房价管理</a>
		<a class="nav_item" href="">房态管理</a>
	</div>
	<div class="main_nav_item">
		<a href="">交易管理</a>
	</div>
	<div class="main_nav_item">
		<a href="">点评管理</a>
	</div>
	<div class="main_nav_item">
		<a href="">点评管理</a>
	</div>
	<div class="main_nav_item no_bor">
		<a href="">用户管理</a>
	</div>
</div>