@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<hgroup class="title">
    <h1 class="error" style="text-align:center;font-size:24px;">错误。</h1>
    <h2 class="error" style="text-align:center;">在处理你的请求时出错。</h2>
</hgroup>
