@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "错误";
}

<div id="content" class="box_a">
	<br><br><br><br><br>
    <p style="text-align:center;font-size:24px;">程序错误</p>
    <br>
    <p style="text-align:center;">正在处理中，请联系一呆工作人员...</p>
</div>
