@{
    ViewBag.Title = "Index";
    
    
    //login/Index/ 控制器地址
    
    ViewBag.newOrder;   //新单
    

    ViewBag.NewComment; //未回复的评论

    ViewBag.totalpPrice;  //上个月总收入
    ViewBag.commission;   //佣金
     
    ViewBag.guranteePrice; //担保金额
        
        
}

<h2>Index</h2>
