@model SAS.Models.DrrRule

@{
    //所有酒店列表

    List<SAS.Models.hotel_info> hotels = ViewData["hotels"] as List<SAS.Models.hotel_info>;

    //所有酒店对应的房型列表
    List<SAS.Models.hotel_room_info> rooms = ViewData["rooms"] as List<SAS.Models.hotel_room_info>;
    ViewBag.Title = "MyDrr";
}

<div id="DrrRule" class="box_a">
    <p id="tittle">
        <span>公寓:</span>
        <select name="" >
            @foreach (var h in hotels)
            {
                <option value="@h.">@h.h_name_cn</option>
            }
        </select>
    </p>

    @foreach (var h in hotels)
    {
        var Rooms = rooms.Where(r=>r.hotel_id== h.hotel_id);
        //当前酒店对应的房型
        foreach (var item in Rooms)
        {
            @item.h_r_name_cn
        }
        
    }
    
</div>

